.crewContent {
  margin: 130px auto 0;
  padding: 60px min(140px, 10%) 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.crewInfoWrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  gap: 20px;
}
.crewTitle {
  display: flex;
  gap: 28px;
}
.crewTitle > strong {
  color: #fff;
  font-family: var(--font-barlowCondensed);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
}
.memberInfoWrapper {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.memberInfoSlider {
  overflow-x: hidden;
}
.memberInfoSlide {
  inline-size: 100%;
  display: none;
  grid-auto-flow: row;
  gap: 20px;
  transition: 0.5s;
}
.activeMemberInfoSlide {
  display: grid;
  animation: memberInfoSlideIn 0.5s;
}

@keyframes memberInfoSlideIn {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}

.memberInfoSlider p {
  width: 444px;
}
.memberInfoSlider h4 {
  opacity: 0.5;
}

.memberImageSlider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  justify-items: right;
  align-items: end;
  position: relative;
  overflow-x: hidden;
}
.memberImg {
  inline-size: 100%;
  object-fit: contain;
  transition: 0.5s;
  opacity: 0;
}
.activeMemberImg {
  opacity: 1;
}
.crewSlider {
  display: flex;
  gap: 30px;
}
.crewSliderDot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  opacity: 0.2;
  cursor: pointer;
}
.crewSliderDot:hover {
  opacity: 0.5;
}
.activeCrewSliderDot {
  opacity: 1;
}

@media screen and (max-width: 1024px) {
  .crewContent {
    padding: 0 5%;
    max-width: 768px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }
  .crewTitle > strong {
    font-size: 20px;
    letter-spacing: 3.375px;
  }
  .crewInfoWrapper {
    grid-auto-flow: row;
    grid-auto-rows: auto;
    gap: 10px;
  }
  .memberInfoWrapper {
    gap: 0;
    margin: 10px 0;
  }
  .memberInfoSlider {
    align-self: center;
    text-align: center;
    gap: 20px;
  }
  .memberInfoSlider p {
    width: auto;
    max-width: 450px;
  }
  .crewSlider {
    margin-top: 40px;
    align-self: center;
    gap: 20px;
  }
  .crewSliderDot {
    width: 15px;
    height: 15px;
  }
  .memberImageSlider {
  }
  .memberImg {
    max-height: 530px;
  }
}
@media screen and (max-width: 600px) {
  .crewContent {
    margin: 80px auto 40px;
  }
}
@media screen and (max-width: 425px) {
  .crewContent {
    padding: 0 5%;
    max-width: 320px;
  }
  .crewTitle {
    justify-content: center;
    gap: 16px;
  }
  .crewTitle > strong {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
  .crewInfoWrapper {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .memberInfoWrapper {
    flex-direction: column-reverse;
    margin-bottom: 30px;
    gap: 20px;
  }
  .crewSlider {
    margin-top: 0;
  }
  .memberInfoSlider p {
    width: auto;
    max-width: 300px;
  }
  .memberImageSlider {
    order: -1;
    border-bottom: 1px solid #383b4b;
  }
  .memberImg {
    max-height: 230px;
  }
}
