.navLink {
  display: flex;
  height: 100%;
  gap: 10px;
  font-family: var(--font-barlowCondensed);
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  align-items: center;
  letter-spacing: 2.7px;
  border-bottom: 3px solid transparent;
}
.navLinkDestination {
  display: flex;
  height: 100%;
  gap: 10px;
  color: #d0d6f9;
  font-family: var(--font-barlowCondensed);
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 2.7px;
  border-bottom: 3px solid transparent;
}

.navLink > span {
  font-weight: 700;
}

.navLinkActive {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
.navLink:hover,
.navLinkDestination:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 600px) {
  .navLink {
    height: 30px;
    border-bottom: none;
    border-right: 3px solid transparent;
  }
  .navLink > span {
    display: block;
    width: 20px;
    text-align: center;
  }
  .navLink:hover {
    border-bottom: none;
    border-right: 3px solid rgba(255, 255, 255, 0.5);
  }
  .navLink.navLinkActive {
    border-bottom: none;
    border-right: 3px solid #ffffff;
  }
}
