.body {
  width: 100vw;
  height: 100vh;
}
.wrapper {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 768px;
  }
}
@media screen and (max-width: 420px) {
  .wrapper {
    width: 320px;
  }
}
