.homeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  min-height: 100vh;
  width: 100%;
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.homeContent {
  margin: 130px auto 20px;
  width: 100%;
  max-width: 1440px;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 250px 10% 0;
}
.homeTextContainer {
  width: 444px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.homeButton {
  width: 274px;
  height: 274px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s;
}
.homeButton:hover {
  box-shadow: 0 0 0 88px rgba(255, 255, 255, 0.1);
}
.homeButtonLabel {
  color: #0b0d17;
  font-family: var(--font-bellefair);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2px;
  pointer-events: none;
}

@media screen and (max-width: 1024px) {
  .homeWrapper {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }

  .homeContent {
    margin: 96px auto 40px;
    max-width: 768px;
    flex-direction: column;
    gap: 150px;
    justify-content: flex-start;
    padding: 100px 10% 0;
    align-items: center;
  }
  .homeTextContainer {
    align-items: center;
    text-align: center;
    width: auto;
  }
  .homeButton {
    width: 242px;
    height: 242px;
  }
  .homeButton:hover {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.1);
  }
}
@media screen and (max-width: 600px) {
  .homeContent {
    margin: 96px auto 40px;
    padding: 0 5%;
  }
}
@media screen and (max-width: 425px) {
  .homeWrapper {
    background-image: url("../assets/home/background-home-mobile.jpg");
  }
  .homeContent {
    max-width: 320px;
    gap: 80px;
  }
  .homeTextContainer {
    gap: 16px;
  }
  .homeButton {
    width: 150px;
    height: 150px;
  }
  .homeButtonLabel {
    font-size: 20px;
    letter-spacing: 1.25px;
  }
}
