.destinationWrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("../../../assets/destination/background-destination-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.destinationContent {
  margin: 136px auto;
  width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 76px 166px 0;
}
.destinationTitle {
  display: flex;
  gap: 28px;
}
.destinationTitle > strong {
  color: #fff;
  font-family: var(--font-barlowCondensed);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
}
.planetWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  height: 100%;
}
.destinationNavigation {
  display: flex;
  gap: 30px;
  height: 34px;
}
.image {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  animation: rotate-animation 60s infinite linear;
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.planetInfo {
  display: flex;
  flex-direction: column;
  width: 444px;
  gap: 37px;
}
.travelInfo {
  margin-top: 54px;
  border-top: #383b4b solid 1px;
  padding-top: 28px;
  display: flex;
  gap: 79px;
}
.travelInfo > div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.subheading1 {
  color: #fff;
  font-family: var(--font-bellefair);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.subheading2 {
  color: #d0d6f9;
  font-family: var(--font-barlowCondensed);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.362px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .destinationWrapper {
    background-image: url("../../../assets/destination/background-destination-tablet.jpg");
  }
}
@media screen and (max-width: 420px) {
  .destinationWrapper {
    background-image: url("../../../assets/destination/background-destination-mobile.jpg");
  }
}
