.techSliderWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr 1fr;
  gap: clamp(20px, 3vw, 40px);
  max-height: 520px;
}
.techSliderDotsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.techSliderDot {
  width: 70px;
  height: 70px;
  border: rgba(255, 255, 255, 0.25) 1px solid;
  border-radius: 50%;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;
}
.techSliderDot:hover {
  border: rgba(255, 255, 255, 1) 1px solid;
  background: transparent;
}
.techSliderDotActive:hover {
  background: rgba(255, 255, 255, 0.25);
}
.techSliderDotActive:hover h4 {
  color: #ffffff;
}
.techSliderDot > label {
  pointer-events: none;
}
.techSliderDotActive {
  border: rgba(255, 255, 255, 1) 1px solid;
  background: #ffffff;
}
.techSliderDotActive h4 {
  color: #0b0d17;
}
.techSliderInfoWrapper {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.techInfoSlide {
  inline-size: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  transition: 0.5s;
}
.activeTechInfo {
  display: flex;
  animation: techInfoSlideIn 0.5s;
}
@keyframes techInfoSlideIn {
  0% {
    margin-left: -200%;
  }
  100% {
    margin-left: 0;
  }
}
.subheading3 {
  color: #d0d6f9;
  font-family: var(--font-barlowCondensed);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.7px;
}
.techImageSlider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow-x: hidden;
  height: 520px;
}
.techImageSlide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  opacity: 0;
}
.activeTechImg {
  opacity: 1;
}
.launchVehicleImg {
  background-image: url("../../assets/technology/image-launch-vehicle-portrait.jpg");
}
.spaceportImg {
  background-image: url("../../assets/technology/image-spaceport-portrait.jpg");
}
.spaceCapsuleImg {
  background-image: url("../../assets/technology/image-space-capsule-portrait.jpg");
}
@media screen and (max-width: 1024px) {
  .techSliderWrapper {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    width: 100%;
    gap: 40px;
    max-height: none;
  }
  .techSliderDotsWrapper {
    margin-top: 340px;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    order: 2;
  }
  .techSliderDot {
    width: 60px;
    height: 60px;
  }
  .techSliderInfoWrapper {
    order: 3;
    align-items: center;
    text-align: center;
  }
  .techInfoSlide {
    gap: 30px;
  }
  .techImageSlider {
    height: 300px;
    position: absolute;
    justify-self: center;
    width: 100%;
  }
  .techImageSlide {
    margin-right: -5px;
  }
  .launchVehicleImg {
    background-image: url("../../assets/technology/image-launch-vehicle-landscape.jpg");
  }
  .spaceportImg {
    background-image: url("../../assets/technology/image-spaceport-landscape.jpg");
  }
  .spaceCapsuleImg {
    background-image: url("../../assets/technology/image-space-capsule-landscape.jpg");
  }
}
@media screen and (max-width: 425px) {
  .techSliderWrapper {
    gap: 30px;
  }
  .techSliderDotsWrapper {
    margin-top: 200px;
    gap: 20px;
  }
  .techSliderDot {
    width: 40px;
    height: 40px;
  }
  .techInfoSlide {
    gap: 20px;
  }
  .techImageSlider {
    height: 170px;
  }
}
