.technologyWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.technologyContent {
  margin: 130px auto 30px;
  padding: 60px min(140px, 10%) 0;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.technologyTitle {
  display: flex;
  gap: 28px;
}
.technologyTitle > strong {
  color: #fff;
  font-family: var(--font-barlowCondensed);
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4.725px;
  opacity: 0.25;
}

@media screen and (max-width: 1024px) {
  .technologyWrapper {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .technologyContent {
    padding: 0 5%;
    max-width: 768px;
    justify-content: flex-start;
    gap: 40px;
  }
  .technologyTitle > strong {
    font-size: 20px;
    letter-spacing: 3.375px;
  }
}
@media screen and (max-width: 600px) {
  .technologyContent {
    margin: 80px auto 40px;
  }
}
@media screen and (max-width: 425px) {
  .technologyWrapper {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }
  .technologyContent {
    max-width: 320px;
    gap: 20px;
  }
  .technologyTitle {
    align-self: center;
    justify-content: center;
    gap: 16px;
  }
  .technologyTitle > strong {
    font-size: 16px;
    letter-spacing: 2.7px;
  }
}
